<div class="top-content animated fadeInDown" ng-controller="AuthController">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login</h3>
                            <p>Fill in the form below to get instant access:</p>
                            <span class="text-danger" ng-if="errorMessage" ng-model="errorMessage"></span>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" class="registration-form" ng-submit="login()">
                            <div class="form-group">
                                <label class="sr-only" for="form-email">Email Id</label>
                                <input type="text" name="form-email" placeholder="Email Id" 
                                    class="form-email form-control" id="form-email" ng-model="loginData.email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-last-name">Password</label>
                                <input type="password" name="form-last-name" placeholder="Password" class="form-last-name form-control" id="password" ng-model="loginData.password">
                            </div>
                            <div class="row">
                                <div class="col-sm-4 pull-right">
                                    <button type="submit" class="btn">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>